.pagina{
    font-family: 'Segoe UI', sans-serif;
    color: #dbd8df;
    background-color: #2f2245;
}

p{
    width: 40%;
    text-align: justify;
    font-size: 20px;
}

h1{
    font-size: 40px;
    color:#7010e4;
    text-align: center;
}

h2 {
    margin-top: 30px;
    color:#7010e4;
}

li {
    font-size: 18px;
    margin-bottom: 8px;
}

table{
    position: absolute;
    top: 115px;
    right: 30px
}

td{
    
    border: 4px solid #7010e4;
    border-radius: 5px;

    font-weight: bold;
    text-align: center;
    color: #dbd8df;
    background-color: #291d32;
    padding: 10px;

}

.estiloBotao{

    width: 200px;
    height: 40px;

    border: 2px solid #7010e4;
    border-radius: 5px;

    color: #dbd8df;
    background-color: #291d32;
}

.estiloBotao:hover{
    background-color: #1E1E2F;
    transform: scale(1.07);
}

.textoLink{
    position: absolute;
    right: 30px;
    bottom: 50px;
    color: #107bc2;
}

.textoLink:hover{
    color: #5f16c5;
}

.imagemHobbie{
    width: 360px;
    height: 180px;
    border-radius: 5%;
    border: 4px solid #7010e4;
}
